<h3>All Events</h3>
<section class="categoryBox">
  <div class="cardGrid">
    <div class="categoryCard">
      <img class="categoryImg" src="../../assets/concert.svg" alt="" />
      <h4>Concert</h4>
    </div>
    <div class="categoryCard">
      <img class="categoryImg" src="../../assets/sport.svg" alt="" />
      <h4>Sports</h4>
    </div>
    <div class="categoryCard">
      <img class="categoryImg" src="../../assets/education.svg" alt="" />
      <h4>Education</h4>
    </div>
  </div>
</section>
