.header {
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 50% 50%;
}

.logo-box {
  width: 50vw;
  display: grid;
  justify-content: start;
  grid-auto-flow: column;
  align-items: center;
}

.head-icons {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 40px 30px;
  justify-content: end;
  align-items: center;
}

.logo-img {
  height: 40px;
  padding-right: 10px;
}

.logo-first {
  color: var(--logo-primary-color);
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: bold;
}

.logo-second {
  color: var(--logo-secondary-color);
  font-size: 20pt;
  text-transform: uppercase;
  font-weight: bold;
}
