<!-- <div class="logo-box">
  <div>
    <img class="logo-img" src="../../assets/logo2.svg" alt="Logo" />
    <span class="logo-first">Uve<span class="logo-second">nto</span></span>
  </div>
</div>
<div>
  <span><img src="../../assets/alert.svg" alt="" /></span
  ><span> <img src="../../assets/menu.svg" alt="" /></span>
</div> -->
<div class="header">
  <div class="logo-box">
    <img class="logo-img" src="../../assets/logo2.svg" alt="Logo" />
    <span class="logo-first">Uve<span class="logo-second">nto</span></span>
  </div>
  <div class="head-icons">
    <span><img src="../../assets/alert.svg" alt="" /></span
    ><span> <img src="../../assets/menu.svg" alt="" /></span>
  </div>
</div>
