.welcome {
  background-color: var(--bg-color);
  background-image: url("../../assets/pattern.svg");
  background-position: 10% 20%;
  background-size: 145%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-content {
  margin: 0 40px 0 45px;
  font-family: var(--secondary-font);
  font-weight: 200;
  color: white;
}

.splash-logo-img {
  width: 32px;
}
