@import url("https://fonts.googleapis.com/css2?family=Muli:wght@300;400;500;600;&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Splash Color */

  --bg-color: #102733;
  --text-color: #fff;
  --primary-color: #f5f5f5;
  --secondary-color: #fccd00;

  /* Logo Color */

  --logo-primary-color: #f5f5f5;
  --logo-secondary-color: #fccd00;

  /* Splash Font */

  --primary-font: "Muli", sans-serif;
  --secondary-font: "Open Sans", sans-serif;
}

html {
  font-size: 16px;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}
